body {
    margin: 0;
    border: 0;
    overflow: hidden;
    /*Will-Changed Color to match Figma- No gradient*/
    background-color: #D9EEEA;
    font-size: 16px;
    font-family: 'Albert Sans', sans-serif;
}
.border-custom-color {
}

.square-box {
    width: 100%;
    min-height:300px;
}

.crit-moves-login-btn {
    min-width: 60%;
    min-height: auto;
    color: #FF6555;
}

.form-control-login {
    color: #4cff00;
}

section {
    padding: 3.0vh 1.5vh; 
    box-shadow: 0px 4px 4px rgba(2, 55, 57, 0.25);
}

.container-speech-bubble-container{
    max-height:40%;
}
.speech-bubble {
    background: #FFFFFF;
    position: relative;
    border-radius:28%;
}
    .speech-bubble:after {
        position: absolute;
        content: '';
        width: 10.5vh;
        height: 5.3vh;
        background: #FFFFFF;
        bottom: -1.0em;
        z-index: 5;
        transform: translateY(3.9em);
        left: 60%;
        background-color: #D9EEEA;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100px 25px 0 25px;
        border-color: #FFFFFF transparent transparent transparent;
    }
    /*Begin Triangle*/
    .speech-bubble::after {
        transform:translateY(3.5em);
        left: 60%;
        background-color: #D9EEEA;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 75px 20px 0 20px;
        border-color: #FFFFFF transparent transparent transparent;
    }
.container-prompt-title {
    transform: translateY(-1em);
    background-color: #023739;
    width:25vh;
    color:#FFFFFF;
    font-weight:800;
    border-radius: 21%;
}
.container-prompt-content {
    transform: translateY(-0.5em);
    word-wrap: break-word;
}
.container-prompt-pass {
    text-decoration: underline;
    z-index: 8;
    color: #023739;
    transform: translate(0.0em);
}
.container-prompt-complete {
    background-color: #FF6555;
    z-index:8;
    color:#FFFFFF;
    border-radius:6px;
    max-width:35%;
    transform:translateX(-1.3em)
}
#btnCompletedPrompt:hover{
    cursor:pointer;
}
