body {
    background-color: #D9EEEA;
    overflow:hidden;
}
nav {
    background-color: #D9EEEA;
}
footer {
    position: fixed;
    background-color: rgba(2,55,57);
    width: 100%;
    float: none;
    bottom: 0;
    height: auto;
    z-index: 1;
}
#dragUpload{
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
}
.drag-area{
    height:400px;
    display:flex; 
    align-items:center;
    justify-content:center;
}
#iconAddCourse{
    font-size:1000px;
}
    #iconAddCourse > span {
        content: "\2295";
        color:#FF6555;
        font-size:500px;
    }
.icon{
    font-size:500px;
}
    .icon > span {
        content: "\2295";
        color: #FF6555
    }
.help-tip {
    position: inherit;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #FF6555;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    display:inline-block;
}

    .help-tip:before {
        content: '?';
        font-weight: bold;
        color: #fff;
    }

    .help-tip:hover p {
        display: block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }

    .help-tip p { /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        /*right: -4px;*/
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }

        .help-tip p:before { /* The pointer of the tooltip */
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom-color: #1E2021;
            right: 282px;
            top: -12px;
        }

        .help-tip p:after { /* Prevents the tooltip from being hidden */
            width: 100%;
            height: 40px;
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
        }
.scrollbar {
    margin-top : 5px;
    float: left;
    height: 100%;
    width: 95%;
    background: #023739;
    overflow-y: scroll;
    margin-bottom: 25px;
   
}
.btn-primary{
    background-color: #FF6555!important;
    border:none;
    outline:none;
}
.btn-danger {
    background-color: rgba(2,55,57);
    border: none;
    outline: none;
}

.bg-primary {
    background-color: #023739!important;
    
}
.card-text{
    color:black;
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #999;
    }
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.scrollbar-primary::-webkit-scrollbar-track{
    border-radius: 10px;
}

.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}